section {
    &.pre-observed {
        opacity: 0;
        transition: opacity 450ms ease;

        .observe-up,
        .observe-down,
        .observe-right,
        .observe-left {
            opacity: 0;
            transition: opacity 450ms ease, transform 450ms ease;
        }

        .observe-up {
            transform: translateY(50px);
        }

        .observe-down {
            transform: translateY(-50px);
        }

        .observe-left {
            transform: translateX(-50px);
        }

        .observe-right {
            transform: translateX(50px);
        }

        .observe-dashoffset {
            transition: offset 450ms ease;
        }

        &.observed {
            opacity: 1;

            .observe-up,
            .observe-down,
            .observe-right,
            .observe-left {
                opacity: 1;
                transform: none;
            }

            .observe-dashoffset {
                stroke-dashoffset: 0;
            }
        }
    }
}